body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

#cart-items {
    margin-top: 40px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.cart-item-image img {
    width: 80px;
    height: auto;
    margin-right: 15px;
    border: 1px solid #ddd;
}

.cart-item-details {
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}

.cart-item-name {
    font-weight: bold;
    font-size: 1rem;
    position: absolute;
    top: 20%;
}

.cart-item-quantity {
    display: flex;
    align-items: center;
    font-size: 1rem;
    position: absolute;
    bottom: 20%;
}

.cart-item-quantity button {
    font-size: 1rem;
    font-weight: 700;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.cart-item-quantity span {
    margin: 0 10px;
    font-size: 1rem;
}

.cart-item-price {
    font-size: 1rem;
    color: #333;
    position: absolute;
    bottom: 20%;
    right: 10px;
}

.remove-item {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(140, 0, 0);
    cursor: pointer;
    background: none;
    position: absolute;
    border: none;
    height: 20px;
    width: 20px;
    top: 20%;
    right: 10px;
}

.total {
    font-size: 1.2rem;
    margin-top: 20px;
    text-align: right;
    padding-inline: 10px;
}

.total-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkout {
    text-align: center;
    margin-top: 40px;
    width: 100%;
}

#checkout-btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 43%;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
}

#checkout-btn:hover {
    background-color: #0056b3;
}
